.hierarchy-node {
  font-family: monospace;
}

.node-content {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
}

.node-content:hover {
  background-color: #f0f0f0;
}

.toggle-icon {
  width: 1.5em;
  text-align: center;
}

.toggle-icon.leaf {
  width: 1.5em; /* Keep alignment with folders */
}


.node-name {
  padding: 2px 4px;
}

.node-name.folder {
  /* Style for folders */
}

.node-name.file {
  /* Style for files */
}

.node-name.selectable {
  font-weight: bold;
}

.node-name.selectable:hover {
  text-decoration: underline;
}


.hierarchy-children {
  list-style-type: none;
  padding-left: 25px;
  border-left: 1px dashed #ccc;
  margin-left: 0.75em; /* Align with the toggle icon */
}
