.thumbnail{
  position: relative;
  max-width: 300px;
  width: 32%;
  border: 2px solid black;
}

.thumbnailImageContainer{
  display: flex;
  flex-wrap: wrap;
}

.reactionEmojiContainer {
  position: absolute;
  right: 2px;
  bottom: 2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-color: antiquewhite;
}

.thumbnailImage {
  width: 100%;
  justify-content: center;
}