.background {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.498);
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
  padding: 10px;
  border-radius: 9999px;
}

.selectButton {
  color: rgb(0, 89, 255);
  font-family: "ヒラギノ角ゴ ProN W3";
  font-weight: 900;
  transition: all 0.5s ease;
  width: 80px;
  height: 35px;
  background-color: rgb(198, 198, 198);
  margin: 0 5px;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 9999px;
}

.selectedButton{
  transition: all 0.5s ease;
  text-align: center;
  background-color: rgb(101, 252, 255);
}