header {
  font-size: 30px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
}

#root {
  background-color: white;
}

.back-button {
  margin-bottom: 16px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}
